In [3]:
##for div
15/12
# if we use // we get integer  and for remainder we use % moduala op for remainder 
15//12
15%12

3

In [4]:
## n** are used for power 
3**2 ## 2x2x2=8
""

9

In [5]:
## coperison operators(relational operators)// true or false
## == used for assignment,> and <
a=5
a
## and if we use ==

5

In [7]:
5==4

False

In [8]:
6==6

True

In [9]:
4>1

True

In [10]:
4<1

False

In [11]:
4>=0

True

In [12]:
3>=4

False

In [13]:
"A">"B"

False

In [14]:
## ASCII
ord("A")

65

In [15]:
ord('0')

48

In [16]:
chr(66)

'B'

In [17]:
'Ali'=='ali'

False

In [19]:
## for not eq
'Ali'!='ali'

True

In [21]:
## assignment op
a=1
a=2
a=12
print(a)

12

In [27]:
a =1
a +=2
a +=5
print(a)

8

In [28]:
a=2
a*=2
a*=4
print(a)

16

In [29]:
a=10
a-=3
a-=2
a-=1
print(a)

4

In [31]:
a=100
a/=2
a/=4
print(a)

12.5

In [32]:
a=100
a//=2
a//=4
print(a)

12

# for modula
a=21
a%=12
print(a)

In [36]:
a=2
a**=2
a**=3
print(a)

64

In [37]:
a=['a','b','c']
a+=['a','b','c']
print(a)

['a', 'b', 'c', 'a', 'b', 'c']

In [38]:
True and True and True

True

In [39]:
True and True and True and False ## fro AND all must be true

False

In [40]:
True and False and True and False or True  ## one condition may be true

True

In [41]:
False or False or False ## all must be false

False

In [42]:
not(False)

True

In [51]:
name='A'
email='c'
number='b'
password='234'

name== 'A'or email=='c' or number=='123' and password=='123'

True

In [52]:
## membership operators
a='i am zulkifel and i belong to pak'
'pak' in a

True

In [54]:
##
a=['A','B','C','D']
i=0
while i <len(a):
    if a[i]=='C':
        print(True)
        break
    i+=1

True

In [56]:
'C' in a

True

In [57]:
## oposite of in is not in
'C' not in a

False

In [58]:
'X' not in a

True